  body{
	font-size:12px!important;
	font-size:12px;
	margin:0px;
	padding:0px;
	text-align:center;
	color:#5C1A3B;
	font-family:Verdana, Arial, Helvetica, sans-serif,Î¢ÈíÑÅºÚ,ËÎÌå;
	background-color:#F8F8F8;
    
	
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
    background-position: top center;
	/*---±³¾°Í¼¿É×¢ÊÍµô£¬
	background-attachment: fixed;}
	---Ò²¿ÉËæÊ±Ìí¼Ó---*/
	

 img {max-width: 100%;height: auto;}
 select{font-family:Tahoma, Verdana;font-size:12px;	border: 1px solid #d8dfe5;color: #0098C8;background-color: #f5faff;}
 th{background:#f5f5f1;}